@charset "UTF-8";

body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/wallpaper001.jpg);
    background-attachment: fixed;
    line-height: 1.5em;
    
    
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.435);
}
h1 {
    text-align: center;
    font-size: 2.6em;
    background-color: burlywood;
    color: rgb(249, 6, 123);
    margin: -20px -20px 10px -20px;
    padding: 30px;
    text-shadow:  2px 3px 3px rgba(0, 0, 0, 0.575);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
h2 {
    background-image: linear-gradient(to right , burlywood, white);
    color: rgb(249, 6, 123);
    margin: 10px -20px;
    padding: 5px 15px;
}
pre { 
    text-align: left;
    background-color: antiquewhite;
    max-width: 600px;
    margin:  30px auto;
    padding: 20px 10px;
    font-size: 1.1em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.47);
    
}
ul {
    list-style-position: inside;
    columns: 2;
    font-weight: bold;
}